<main class='p-5'>
  <div class='row'>
    <div class='col-12 mb-5'>
      <div class='nav nav-tabs'>
        <div class='nav-item'>
          <a href='#' class='nav-link active'>Main</a>
        </div>
        <div class='nav-item'>
          <a href='#' class='nav-link'>Shop</a>
        </div>
        <div class='nav-item'>
          <a href='#' class='nav-link disabled'>Catalog</a>
        </div>
      </div>
    </div>

    <div class='col-5 pe-5'>
      <div class='card'>
        <div class='pt-4 pb-3 px-4'>
          <div class='nav flex-column'>
            <div class='nav-item mb-2'>
              <div class='card'>
                <a href='#' class='nav-link'>Link</a>
              </div>
            </div>
            <div class='nav-item mb-2'>
              <div class='card'>
                <a
                  href='#'
                  class='nav-link active'
                >Bootstrap</a>
              </div>
            </div>
            <div class='nav-item mb-2'>
              <div class='card'>
                <a
                  href='#'
                  class='nav-link disabled'
                >Catalog</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class='col-7'>
      <div class='row'>
        <div class='col-12'>
          <ol class='breadcrumb'>
            <li class='breadcrumb-item'>
              <a href='#'>Home</a>
            </li>
            <li class='breadcrumb-item'>
              <a href='#'>PC та Ноутбук</a>
            </li><li class='breadcrumb-item'>
              <a href='#'>Macbook</a>
            </li>
          </ol>
        </div>

        <div class='col-12'>
          <button
            class='btn btn-warning rounded-pill mb-3'
          >Click me</button>
          <div class='alert alert-primary'>This is importan
            info!
            <h6 class='m-0'>
              Hello world!
              <span
                class='badge text-bg-secondary rounded-pill'
              >NEw</span>
            </h6>

          </div>
        </div>
      </div>
    </div>
  </div>
</main>