<main>
  <div class='row'>
    <div class='col-6'>
      <div class='mt-5 ms-3'>
        <h2>Список сторінок</h2>
      </div>
      <div class='ms-3 mt-4'>
        <p>Тут вам потрібно написати інформацію про ваш
          проект.
          <br />Поки що можна написати будь-який текст.</p>
      </div>
    </div>
  </div>
  <hr class='mt-4' />
  <div class='row mt-5'>
    <div class='col-4'>
      <div class='mx-3 my-3'>
        <a
          href='/summary'
          class='btn btn-primary rounded-pill'
          target='_blank'
          style='width: 150px;'
        >Summary</a>
      </div>
      <div class='mx-3 my-3'>
        <a
          href='/skills'
          class='btn btn-primary rounded-pill'
          target='_blank'
          style='width: 150px;'
        >Skills</a>
      </div>
      <div class='mx-3 my-3'>
        <a
          href='/education'
          class='btn btn-primary rounded-pill'
          target='_blank'
          style='width: 150px;'
        >Education</a>
      </div>
      <div class='mx-3 my-3'>
        <a
          href='/work'
          class='btn btn-primary rounded-pill'
          target='_blank'
          style='width: 150px;'
        >Work</a>
      </div>
      <div class='mx-3 my-3'>
        <a
          href='/person'
          class='btn btn-primary rounded-pill'
          target='_blank'
          style='width: 150px;'
        >Person</a>
      </div>
      <div class='my-3 mx-3'>
        <a
          href='/bio'
          class='btn btn-primary rounded-pill'
          target='_blank'
          style='width: 150px;'
        >Bio</a>
      </div>
      <div class='mx-3 my-3'>
        <a
          href='/program'
          class='btn btn-primary rounded-pill'
          target='_blank'
          style='width: 150px;'
        >Program</a>
      </div>
    </div>
    <div class='col-4'>
      <div class='mx-3 my-3'>
        <a
          href='/web'
          class='btn btn-primary rounded-pill'
          target='_blank'
          style='width: 150px;'
        >Web</a>
      </div>
      <div class='mx-3 my-3'>
        <a
          href='/js'
          class='btn btn-primary rounded-pill'
          target='_blank'
          style='width: 150px;'
        >JS</a>
      </div>
      <div class='mx-3 my-3'>
        <a
          href='/car'
          class='btn btn-primary rounded-pill'
          target='_blank'
          style='width: 150px;'
        >Car</a>
      </div>
      <div class='mx-3 my-3'>
        <a
          href='/mac'
          class='btn btn-primary rounded-pill'
          target='_blank'
          style='width: 150px;'
        >Mac</a>
      </div>
      <div class='mx-3 my-3'>
        <a
          href='/facebook'
          class='btn btn-primary rounded-pill'
          target='_blank'
          style='width: 150px;'
        >Facebook</a>
      </div>
      <div class='my-3 mx-3'>
        <a
          href='/task21'
          class='btn btn-primary rounded-pill'
          target='_blank'
          style='width: 150px;'
        >Task21</a>
      </div>
      <div class='mx-3 my-3'>
        <a
          href='/task22'
          class='btn btn-primary rounded-pill'
          target='_blank'
          style='width: 150px;'
        >Task22</a>
      </div>
    </div>
    <div class='col-4'>
      <div class='mx-3 my-3'>
        <a
          href='/task31'
          class='btn btn-primary rounded-pill'
          target='_blank'
          style='width: 150px;'
        >Task31</a>
      </div>
      <div class='mx-3 my-3'>
        <a
          href='/shophome'
          class='btn btn-primary rounded-pill'
          target='_blank'
          style='width: 150px;'
        >Shophome</a>
      </div>
      <div class='mx-3 my-3'>
        <a
          href='/shoporder'
          class='btn btn-primary rounded-pill'
          target='_blank'
          style='width: 150px;'
        >Shoporeder</a>
      </div>
      <div class='mx-3 my-3'>
        <a
          href='/shopcart'
          class='btn btn-primary rounded-pill'
          target='_blank'
          style='width: 150px;'
        >Shopcart</a>
      </div>
      <div class='mx-3 my-3'>
        <a
          href='/shopprofile'
          class='btn btn-primary rounded-pill'
          target='_blank'
          style='width: 150px;'
        >Shopprofile</a>
      </div>
      <div class='my-3 mx-3'>
        <a
          href='/shopreview'
          class='btn btn-primary rounded-pill'
          target='_blank'
          style='width: 150px;'
        >Shopreview</a>
      </div>
      <div class='mx-3 my-3'>
        <a
          href='/shopcatalog'
          class='btn btn-primary rounded-pill'
          target='_blank'
          style='width: 150px;'
        >Shopcatalog</a>
      </div>
    </div>
  </div>
</main>