{{!
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
}}

<div>
  <main>
    <section>
      <div>
        <h2>Web Development Languages</h2>
        <ul>
          <li>
            <h3>HTML (HTML5)</h3>
            <p>
              Hypertext Markup Language is the standard
              markup language for creating web pages and web
              applications.
            </p>
            <h4>Elements:</h4>
            <ul>
              <li>
                <strong>div</strong>
                - Defines a division or a section in an HTML
                document.
                <ul>
                  <li><em>id</em>
                    - Specifies a unique id for an HTML
                    element.</li>
                  <li><em>class</em>
                    - Specifies one or more class names for
                    an HTML element.</li>
                </ul>
              </li>
              <li>
                <strong>p</strong>
                - Defines a paragraph in an HTML document.
                <ul>
                  <li><em>id</em>
                    - Specifies a unique id for an HTML
                    element.</li>
                  <li><em>class</em>
                    - Specifies one or more class names for
                    an HTML element.</li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <h3>CSS (CSS3)</h3>
            <p>
              Cascading Style Sheets is a style sheet
              language used for describing the presentation
              of a document written in HTML or XML.
            </p>
            <h4>Properties:</h4>
            <ul>
              <li>
                <strong>color</strong>
                - Sets the color of the text.
                <ul>
                  <li><em>red</em>
                    - Sets the text color to red.</li>
                  <li><em>blue</em>
                    - Sets the text color to blue.</li>
                </ul>
              </li>
              <li>
                <strong>background-color</strong>
                - Sets the background color of an element.
                <ul>
                  <li><em>white</em>
                    - Sets the background color to white.</li>
                  <li><em>black</em>
                    - Sets the background color to black.</li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <h3>JavaScript (ES6)</h3>
            <p>
              JavaScript is a programming language used to
              create interactive effects within web
              browsers.
            </p>
            <h4>Functions:</h4>
            <ul>
              <li>
                <strong>alert()</strong>
                - Displays an alert box with a specified
                message and an OK button.
                <ul>
                  <li><em>message</em>
                    - The message to display in the alert
                    box.</li>
                </ul>
              </li>
              <li>
                <strong>getElementById()</strong>
                - Returns the element with the specified ID.
                <ul>
                  <li><em>id</em>
                    - The ID of the element to find.</li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </section>
  </main>
</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}