{{#if isHot}}
  <span
    class='badge text-bg-warning rounded-pill text-uppercase'
  >Hot!</span>
{{else}}
{{/if}}
{{#if idNew}}
  <span
    class='badge text-bg-primary rounded-pill'
  >New</span>
{{else}}
{{/if}}